{% load socialaccount %}
{% providers_media_js %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% load bootstrap5 %}
        {% load static %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'foodapp/style.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    </head>
    <header class="p-3 mb-3 bg-white" style="z-index: 9999;">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="fw-bold d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none me-5">
                    Hoos Hungry Helper
                </a>
    
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-secondary">Link 1</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Link 2</a></li>
                </ul>
    
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                </form>
    
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small mt-2">
                        <li><div class="text-secondary dropdown-item">{{ user.socialaccount_set.all.0.extra_data.name }}</div></li>
                        <li><div class="text-secondary dropdown-item">{{ user.email }}</div></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item link-danger" href="/logout">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <body>
        <div style="padding-left: 1rem; padding-right: 1rem;">
            {% block content %}
            {% endblock content %}
        </div>
    </body>

    <footer style="position: absolute; bottom: 3%; text-align: center; width: 100%;">
        <p style="color: white;">© Group A-02. All rights reserved.</p>
    </footer>

    <script>
        console.log("{{ user.email }}")
    </script>
</html>